:root {
  --secondary-color: #1779d8;
  --text-color: #8b8d92;
}

/* Custom Classes */
.w-80px {
  width: 5rem;
}

.w-20px {
  width: 1.25rem;
}

.w-icons {
  width: 1.875rem;
}

.fs-info {
  font-size: 0.875rem;
}

.text-color {
  color: var(--text-color);
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

.navbar .container {
  padding-block: 3.125rem;
}

.logo-text {
  font-size: 9px;
  color: white;
}

.logo-text h1 {
  font-size: 16px;
}

.nav-link {
  color: white;
  font-size: 0.9375rem;
}

.navbar-nav .nav-link {
  color: white;
  border: 2px solid transparent;
  border-radius: 3.125rem;
  padding-block: 0.125rem !important;
  padding-inline: 1.5625rem !important;
  transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.navbar-nav .nav-link.active {
  padding-block: 0.125rem;
  padding-inline: 1.5625rem;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.navbar-toggler {
  color: white;
  border: 2px solid transparent;
  border-radius: 40px;
  padding: 20px;
  transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  font-size: 0.875rem;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler:hover {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

/* Start Input Form Section */
.input-form {
  background-image: url(../images/banner.png);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 70px 0;
  min-height: 350px;
}

#search {
  background-color: #1e202b;
  border: none;
  font-size: 0.9375rem;
  padding-inline: 1.25rem;
  padding-block: 0.9375rem;
  border-radius: 100vh;
}

#search:focus {
  box-shadow: none;
  border: none;
}

#search::placeholder {
  color: #5a5a5a;
  font-size: 0.875rem;
}

.search-item {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.search-item:hover {
  background-color: var(--secondary-color);
  color: white;
}

.form-search-button {
  margin: 0.4688rem;
  top: 0;
  right: 0;
  position: absolute;
  color: white;
  font-size: 0.875rem;
  background-color: #009ad8;
}
.form-search-button:hover {
  background-color: #009ad8;
  color: white;
}

/* Start Forecast Result Section */
.forecast-result {
  background-color: #1e202b;
}

.forecast-result .row {
  align-self: stretch !important;
}

.forecast-result .container {
  bottom: 2.5rem;
}

.forecast-body {
  min-height: calc(100% - 40px);
  justify-content: space-evenly;
}
.date-info {
  background-color: #2d303d;
}
.col-md-4 {
  background-color: #323544;
}

.second-item {
  background-color: #262936;
}

.second-item .date-info {
  background-color: #222530;
}

/* Start Footer Seaction */
.footer {
  background-color: #323544;
}

.social-links i {
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #1e202b;
  color: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.social-links i:hover {
  color: white;
  background-color: var(--secondary-color);
}

.footer p {
  color: var(--text-color);
}
